.page-header {
    display: flex;
    align-items: center;
    width: 100%;
    top: 0;
    position:fixed;
    height: 70px;
    background-color: #fff;
    box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
    z-index: 5;

    &__logo {
        overflow: hidden;
        height: 100%;
        width: 17.1875rem;
        min-width: 17.1875rem;

        color: #fff;
        background-color: #343957;
        padding-top: 20px;
        padding-bottom: 20px;
        transition: width  0.28s ease-in-out, min-width 0.28s ease-in-out;
    }
    &__content {
        transition: transform .28s;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
    }
    &__container {
        align-items: center;
        display: flex;
    }
    &__right {
        align-items: center;
        justify-content: flex-end;
        column-gap: 20px;
    }
}
.page-header-logo {
    &__text {
        padding-left: 15px;
    }
}
.hideSidebar {
    .page-header__logo {
        white-space: nowrap;
        width:0;
        min-width: 0;
    }
}

